<p-toast />
<div class="flex-container">
  <p-button label="Battle" severity="danger" (onClick)="this.pokemonService.changePage('pokemon/hub/battle_center', this.pokemonService.current_user)"/>
  <p-button label="Favorite Pokemon List" (click)="drawer_visibility = true" severity="info" />
  <p-button label="Logout" severity="contrast" (onClick)="this.pokemonService.changePage('')" />
</div>

<p-drawer [(visible)]="drawer_visibility" [modal]="true" (onHide)="checkFavorites()">
  <h3 style="text-align: center">Favorite Pokemon List</h3>
  <div *ngFor="let fav_pokemon of this.pokemonService.favorite_pokemon">
    <p-card>
      <p-button [outlined]="true" (click)="showDialog(fav_pokemon)">
        <img [src]="fav_pokemon.pokemonImage" alt="Image" width="96">
      </p-button>
      {{fav_pokemon.favoritePokemonName}}
      <div>
        <p-button [disabled]="true"
                  [label]="splitStringByComma(fav_pokemon.pokemonTypes, 0)"/>
        <p-button [disabled]="true" *ngIf="splitStringByComma(fav_pokemon.pokemonTypes, 1) != null "
                  [label]="splitStringByComma(fav_pokemon.pokemonTypes, 1)"/>
      </div>
      <p-button class="favorite-button" (onClick)="deleteElement(fav_pokemon)"
                icon="pi pi-heart-fill" [rounded]="true" [text]="true"/>
    </p-card>
  </div>
</p-drawer>


<app-pokemon-dialog [current_extracted_data]="current_extracted_data"
                    [dialog_visibility]="dialog_visibility"
                    (change_dialog_visibility)="hideDialog($event)"
                      ></app-pokemon-dialog>


<router-outlet/>


