.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

.flex-container > div {
  width: 200px;
  margin: 10px 10px 200px;
  text-align: center;
  height: 50px;
  font-size: 20px;
}

p-card{
  display: flex;
  flex-direction: column;
}

p-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-button{
  position: absolute;
  transform: translate(55px,-175px);
}


.button-type1-ui{
  margin-right: 5px;
}

.button-type2-ui{
  margin-left: 5px;
}

.checkbox_ui {
  margin: 5px 20px 0 !important;
  height: 30px !important;
}

