<p-toast />
<div style="background-color: #e1dad3;">
  <!--Dialog that appears when nothing is found-->
  <p-dialog closable="false"
            [modal]="true" [(visible)]="dialog_visible"
            [style]="{ width: '25rem' ,
                       textAlign: 'center'}">
    <h2 class="p-text-secondary block mb-8">Values could not be found.</h2>
    <div class="flex justify-end gap-2">
      <p-button label="Continue" severity="success" (click)="dialog_visible = false" />
    </div>
  </p-dialog>

  <!--Elements that filter pokemon cards-->
  <div style="display: flex; justify-content: center; align-items: center; text-align: center">
  <p-floatlabel variant="on" >
    <input [disabled]="is_being_filtered" pInputText id="on_label" [(ngModel)]="search_value" autocomplete="off" />
    <label style="margin: auto" for="on_label">Name To Search</label>
    <div>
      <p-splitbutton (onClick)="orderValues()" [model]="items"
                     [icon]="this.orderArray[this.orderIconIndex]"
                     dropdownIcon="pi pi-search" [disabled]="is_being_filtered"/>
      <p-button (onClick)="filterName('')" icon="pi pi-filter-slash" [rounded]="true" [disabled]="!is_being_filtered"/>
    </div>
  </p-floatlabel>
  </div>
  <!--Pokemon List-->
  <div class="flex-container" >
    <div *ngFor="let type_category of type_categories.results" class="checkbox_ui">
      <p-checkbox [inputId]="type_category.url" name="group"  [value]="type_category" [(ngModel)]="selected_type_categories"
                  (onChange)="matchTypeSearch($event.checked)" />
      <label [for]="type_category.url" class="ml-2"> {{ type_category.name }} </label>
    </div>

    <div *ngFor="let result of this.pokemon_item_select; let i = index">
      <p-card [style]="this.artService.getPokemonCardType(result.value, result.secValue ?? '')">
        <p-button [outlined]="true" (click)="showDialog(result)">
          <img [src]="result.label" alt="Image" width="96">
        </p-button>
        <h4 style="background-color: #e1dad3; border-radius: 20px">{{result.title}}</h4>
        <div style="display: flex; justify-content: center; align-items: center;">
          <p-button class="button-type1-ui"  [label]="result.value"/>
          <p-button *ngIf="result.secValue != '' " [label]="result.secValue"/>
        </div>
        <p-button (onClick)="changeFavorite(result)" class="favorite-button"
                  [icon]="result.favorite ? 'pi pi-heart-fill' : 'pi pi-heart'"
                  [rounded]="true" [text]="true"/>
      </p-card>
    </div>
  </div>
</div>

<app-pokemon-dialog [current_extracted_data]="current_extracted_data"
                    [dialog_visibility]="dialog_visibility"
                    (change_dialog_visibility)="hideDialog($event)"
                    [chart_data_options]="this.current_chart_data_options"
></app-pokemon-dialog>


<!--Paginator to restrict retrieval-->
<div style="margin-top: auto">
  <p-paginator [pageLinkSize]="defaultRecords" (onPageChange)="onPageChange($event)" [first]="0" [rows]="10" [totalRecords]="record_length" [rowsPerPageOptions]="[10, 20, 30]" />
</div>

