

<div style="background-color: #b6956f;">
  <p-floatlabel variant="on" style="display: flex">
    <input [disabled]="is_being_filtered" pInputText id="on_label" [(ngModel)]="search_value" autocomplete="off" />
    <label style="margin: auto" for="on_label">Name To Search</label>
    <div>
      <p-splitbutton (onClick)="orderValues()" [model]="items"
                     [icon]="this.orderArray[this.orderIconIndex]"
                     dropdownIcon="pi pi-search" [disabled]="is_being_filtered"/>
      <p-button (onClick)="filterName('', true)" icon="pi pi-filter-slash" [rounded]="true" [disabled]="!is_being_filtered"/>
    </div>
  </p-floatlabel>

  <div class="flex-container" >
    <div *ngFor="let type_category of type_categories.results" class="checkbox_ui">
      <p-checkbox [inputId]="type_category.url" name="group"  [value]="type_category" [(ngModel)]="selected_type_categories"
                  (onChange)="matchTypeSearch($event.checked)" />
      <label [for]="type_category.url" class="ml-2"> {{ type_category.name }} </label>
    </div>

    <div *ngFor="let result of this.pokemon_item_select; let i = index">
      <p-card>
        <p-button [outlined]="true">
          <img [src]="result.label" alt="Image" width="96">
        </p-button>
        {{result.title}}
        <div>
          <p-button class="button-type1-ui" [disabled]="true"  [label]="result.value"/>
          <p-button class="button-type2-ui" *ngIf="result.secValue != '' " [disabled]="true" [label]="result.secValue"/>
        </div>
        <p-button class="favorite-button" icon="pi pi-heart" [rounded]="true" [text]="true"/>
      </p-card>
    </div>
  </div>
</div>
<div style="margin-top: auto">
  <p-paginator [pageLinkSize]="defaultRecords" (onPageChange)="onPageChange($event)" [first]="0" [rows]="10" [totalRecords]="record_length" [rowsPerPageOptions]="[10, 20, 30]" />
</div>
